{{ $ := .root }}
{{ $page := .page }}

<!-- Testimonies widget -->
<div class="row">
  <div class="col-12 col-lg-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>
  <div class="col-12 col-lg-8">
    {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}

    {{ if $page.Params.item }}
    {{ range $idx, $key := sort $page.Params.item "desc" }}
    <div class="row experience">
      <!-- Content -->
      <div class="col py-2">
        <div class="">
            <div class="">
                <div class="float-left">
                    {{.author | markdownify | emojify}}
                </div>
                <div class="float-left">
                    <blockquote>{{.description | markdownify | emojify}}</blockquote>
                </div>
              </div>
        </div>
      </div>
    </div>
    {{end}}
    {{end}}
  </div>
</div>
